@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {

}

@theme {
--color-primary-color: #F2968F;
--color-surface-color: #FFFFFF;
--color-grey: #ACACAC;
--color-black: #333333;
--color-blue-light: #ACD7FF;
--color-blue-dark: #5C778F;
--color-pink-light: #EDA8B3;
--color-pink-dark: #94646C;
--color-green-light: #C5E59C;
--color-green-dark: #6B8B42;
--color-yellow-light: #F1E689;
--color-yellow-dark: #978C2F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
}

svg {
  font-size: 24px;
}
